<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css')}}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='app.js')}}"></script>
    <title>Dictionary</title>
</head>

<body>
    <form method="post">
        <div class="container">
            <div>
                <label>
                    <h1>Detect language - English</h1>
                </label>
                <input id="input" />
            </div>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlnsXlink="http://www.w3.org/1999/xlink" width="35"
                height="40" x="0px" y="0px" viewBox="0 0 1000 1000" enableBackground="new 0 0 1000 1000"
                xmlSpace="preserve" transform="rotate(270)" id="arrow">
                <g>
                    <path
                        d="M943.1,451.9H176.5l254.4-254.4c18.3-18.3,18.3-48.1,0-66.4l-2.9-2.9c-18.3-18.3-48.1-18.3-66.4,0L27.7,462.2C16.9,470.8,10,484,10,498.8v4.6c0,17.8,9.9,33.2,24.4,41.2l327.2,327.2c18.3,18.3,48.1,18.3,66.4,0l2.9-2.9c18.3-18.3,18.3-48.1,0-66.4L178.7,550.3h764.3c25.9,0,46.9-21,46.9-46.9v-4.6C990,472.9,969,451.9,943.1,451.9z" />
                </g>
            </svg>
            <div>
                <div class="selectLanguage">
                    <label>
                        <h1>Translate</h1>
                    </label>
                    <select id="translatePhrase">
                        <option selected>Chinese</option>
                        <option>French</option>
                        <option>Spanish </option>
                    </select>
                </div>
                <input id="output" />
            </div>
        </div>
        <input type="button" id="addPhrase" value="Add New Phrase" />
        <div id="addNew">
            <div id="form">
                <div>
                    <label>
                        <h3>English </h3>
                    </label>
                    <input id="addEnglish" required />
                </div>
                <div>
                    <div id="selectGroup">
                        <label>
                            <h3>Translate Language</h3>
                        </label>
                        <select id="newTranslatedPhrase">
                            <option selected>Chinese</option>
                            <option>French</option>
                            <option>Spanish </option>
                        </select>
                    </div>
                    <input id="addTranslated" required />
                </div>
            </div>
            <div id="buttonGroup">
                <input type="button" id="submit" value="Submit" />
                <input type="button" id="cancel" value="cancel">
            </div>
        </div>
    </form>
</body>

</html>